nav {
    display: contents !important;
}

.dropdown-menu.show {
    visibility: visible;
    transition: opacity 0.5s ease;
}

.collapse.show {
    overflow-x: hidden;
}

.dropdown-item {
    white-space: wrap;
}