{% extends 'base/base.html' %}
{% block content %}
    <main>
        <nav class="breadcrumbs">
            <div class="breadcrumbs">
                <a href="/">Главная</a> &raquo; <span>Сведения об образовательной организации</span></div>
        </nav>
        <h1>Сведения об образовательной организации</h1>
        <article>
            <div class="news-list">
                <style type="text/css">
                    UL {
                        list-style-type: square; /* Маркеры в виде квадрата */
                        list-style-position: outside; /* Маркеры размещаются за пределами текстового блока */
                        color: navy; /* Цвет текста списка */
                        padding-left: 20px;
                    }
                </style>

                <strong><p>Структура официального сайта образовательной организации в
                    информационно-телекоммуникационной сети «Интернет», а также формат представления образовательной
                    организацией информации, обязательной к размещению на Сайте определяются в соответствии с:</p>
                </strong>
                <ul>
                    <li><a href="https://db-nica.ru/documents/fz_ob_obrazovanii_273.pdf" rel="nofollow noopener"
                           target="_blank">Статьёй 29 Федерального закона &ldquo;Об образовании в Российской
                        Федерации&rdquo; от  <strong>29.12.2012 № 273-ФЗ</strong></a></li>
                    <li><a href="https://db-nica.ru/documents/postanovlenie_1802.pdf" rel="nofollow noopener"
                           target="_blank">Постановлением Правительства Российской Федерации от <strong>20.10.2021 №
                        1802</strong> "Об утверждении Правил размещения на официальном сайте образовательной
                        организации в информационно-телекоммуникационной сети "Интернет" и обновления информации об
                        образовательной организации, а также о признании утратившими силу некоторых актов и
                        отдельных положений некоторых актов Правительства Российской Федерации"</a></li>
                    <li><a href="https://db-nica.ru/documents/prikaz_831.pdf" rel="nofollow noopener"
                           target="_blank">Приказом Федеральной службы по надзору в сфере образования и науки
                        от <strong>14.08.2020 № 831</strong> "Об утверждении Требований к структуре официального
                        сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и
                        формату представления информации</a></li>
                </ul>
                <br><br>
                <h1><a href="/p-1.html">Подраздел «Основные сведения»</a></h1>
                Информация:
                <ul>
                    <li><a href="/sveden/common#anchor_fullOrganizationName">о полном и сокращенном (при наличии)
                        наименовании образовательной организации;</a></li>
                    <li><a href="/sveden/common#anchor_regDate">о дате создания образовательной организации;</a>
                    </li>
                    <li><a href="/sveden/common#anchor_uchredLaw">об учредителе (учредителях) образовательной
                        организации;</a></li>
                    <li><a href="/sveden/common#anchor_filInfo">о наименовании представительств и филиалов
                        образовательной организации (при наличии представительств и филиалов) (в том числе
                        находящихся за пределами Российской Федерации);</a></li>
                    <li><a href="/sveden/common#anchor_address">о месте нахождения образовательной организации, её
                        представительств и филиалов (при наличии представительств и филиалов);</a></li>
                    <li><a href="/sveden/common#anchor_workTime">о режиме и графике работы образовательной
                        организации, ее представительств и филиалов (при наличии представительств и филиалов);</a>
                    </li>
                    <li><a href="/sveden/common#anchor_contactVuz">о контактных телефонах образовательной
                        организации, ее представительств и филиалов (при наличии представительств и филиалов);</a>
                    </li>
                    <li><a href="/sveden/common#anchor_contactVuz">об адресах электронной почты образовательной
                        организации, ее представительств и филиалов (при наличии представительств и филиалов);</a>
                    </li>
                    <li><a href="/sveden/common#anchor_filInfo">об адресах официальных сайтов представительств и
                        филиалов образовательной организации (при наличии представительств и филиалов) или страницах
                        в информационно-телекомунникационной сети "Интернет";</a></li>
                    <li><a href="/sveden/common/#anchor_addressPlace">о местах осуществления образовательной
                        деятельности образовательной организации, в том числе не указанных в приложении к лицензии
                        (реестре лицензий) на осуществление образовательной деятельности в соответствии с частью 4
                        статьи 91 Федерального закона от 29 декабря 2012 г. № 273-ФЗ "Об образовании в Российской
                        Федерации".</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-5">Подраздел «Структура и органы управления образовательной организацией»</a></h1>
                Информация:
                <ul>
                    <li><a href="/sveden/struct">о структуре и об органах управления образовательной организации с
                        указанием наименований структурных подразделений (органов управления);</a></li>
                    <li><a href="/sveden/struct">о фамилиях, именах, отчествах (при наличии отчества) и должностях
                        руководителей структурных подразделений (органов управления);</a></li>
                    <li><a href="/sveden/struct">о местах нахождения структурных подразделений (органов управления)
                        образовательной организации (при наличии структурных подразделений (органов управления);</a>
                    </li>
                    <li><a href="/sveden/struct">об адресах официальных сайтов в информационно-телекоммуникационной
                        сети "Интернет" структурных подразделений (органов управления) образовательной организации
                        (при наличии официальных сайтов);</a></li>
                    <li><a href="/sveden/struct">об адресах электронной почты структурных подразделений (органов
                        управления) образовательной организации (при наличии электронной почты);</a></li>
                    <li><a href="/sveden/struct">о положениях о структурных подразделениях (об органах управления)
                        образовательной организации с приложением указанных положений в виде <strong>электронных
                            документов</strong>, подписанных электронной подписью в соответствии с Федеральным
                        законом от 06.04.2011 № 63-ФЗ «Об электронной подписи» (далее - электронный документ) (при
                        наличии структурных подразделений (органов управления).</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-115">Подраздел «Документы»</a></h1>
                Документы в виде копий и <strong>электронных документов</strong> (в части документов, самостоятельно
                разрабатываемых и утверждаемых образовательной организацией):
                <ul>
                    <li><a href="/sveden/document#anchor_ustavDocLink">устав образовательной организации;</a></li>
                    <li><a href="/sveden/document#anchor_accreditationDocLink">свидетельство о государственной
                        аккредитации (с приложениями) (при наличии);</a></li>
                    <li><a href="/sveden/document#anchor_licenseDocLink">лицензия на осуществление образовательной
                        деятельности (с приложениями);</a></li>
                    <li><a href="/sveden/document/#anchor_localActOrder">правила внутреннего распорядка
                        обучающихся;</a></li>
                    <li><a href="/sveden/document/#anchor_localActOrder">правила внутреннего трудового
                        распорядка;</a></li>
                    <li><a href="/sveden/document/#anchor_localActCollec">коллективный договор (при наличии);</a>
                    </li>
                    <li><a href="/sveden/document#anchor_reportEduDocLink">отчет о результатах самообследования;</a>
                    </li>
                    <li><a href="/sveden/document#anchor_prescriptionDocLink">предписания органов, осуществляющих
                        государственный контроль (надзор) в сфере образования, отчеты об исполнении таких
                        предписаний (до подтверждения органом, осуществляющим государственный контроль (надзор) в
                        сфере образования, исполнения предписания или признания его недействительным в установленном
                        законом порядке) (при наличии);</a></li>
                    <li>локальные нормативные акты образовательной организации по основным вопросам организации и
                        осуществления образовательной деятельности, в том числе регламентирующие:
                        <ul>
                            <li><a href="/sveden/document#anchor_priemDocLink">правила приема обучающихся;</a></li>
                            <li><a href="/sveden/document#anchor_modeDocLink">режим занятий обучающихся;</a></li>
                            <li><a href="/sveden/document#anchor_tekKontrolDocLink">формы, периодичность и порядок
                                текущего контроля успеваемости и промежуточной аттестации обучающихся;</a></li>
                            <li><a href="/sveden/document#anchor_perevodDocLink">порядок и основания перевода,
                                отчисления и восстановления обучающихся;</a></li>
                            <li><a href="/sveden/document#anchor_vozDocLink">порядок оформления возникновения,
                                приостановления и прекращения отношений между образовательной организацией и
                                обучающимися и (или) родителями (законными представителями) несовершеннолетних
                                обучающихся.</a></li>
                        </ul>
                    </li>
                </ul>
                <br><br>
                <h1><a href="/c-121">Подраздел «Образование»</a></h1>
                Информация:
                <ul>
                    <li>о реализуемых образовательных программах, в том числе о реализуемых адаптированных
                        образовательных программах, с указанием в отношении каждой образовательной программы:
                        <ul>
                            <li><a href="/sveden/education#anchor_eduaccred">форм обучения;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">нормативного срока обучения;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">срока действия государственной
                                аккредитации образовательной программы (при наличии государственной
                                аккредитации);</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">срока действия общественной,
                                профессионально-общественной аккредитации образовательной программы (при наличии
                                общественной, профессионально-общественной аккредитации);</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">языка(х), на котором(ых) осуществляется
                                образование (обучение);</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">учебных предметов, курсов, дисциплин
                                (модулей), предусмотренных соответствующей образовательной программой;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">практики, предусмотренной
                                соответствующей образовательной программой;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">об использовании при реализации
                                образовательной программы электронного обучения и дистанционных образовательных
                                технологий;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">о наименовании общеобразовательной
                                программы (для образовательных организаций, реализующих общеобразовательные
                                программы);</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о рабочих программах воспитания и
                                календарном плане воспитательной работы, включаемых в основные образовательные
                                программы в соответствии с частью 1 статьи 12.1 ФЗ от 29.12.2012 № 273-ФЗ «Об
                                образовании в Российской Федерации» в виде электронного документа</a></li>
                        </ul>
                    </li>
                    <li>об описании образовательной программы с приложением образовательной программы в
                        форме <strong>электронного документа</strong> или в виде активных ссылок, непосредственный
                        переход по которым позволяет получить доступ к страницам официального сайта, содержащим
                        информацию об описании образовательной программы, в том числе:
                        <ul>
                            <li><a href="/sveden/education#anchor_eduop">об учебном плане с приложением его в
                                виде <strong>электронного документа</strong>;</a></li>
                            <li><a href="/sveden/education#anchor_eduop">об аннотации к рабочим программам дисциплин
                                (по каждому учебному предмету, курсу, дисциплине (модулю), практики, в составе
                                образовательной программы) с приложением рабочих программ в виде <strong>электронного
                                    документа</strong>;</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о календарном учебном графике с приложением
                                его в виде <strong>электронного документа</strong>;</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о методических и иных документах,
                                разработанных образовательной организацией для обеспечения образовательного
                                процесса, в виде <strong>электронного документа</strong>;</a></li>
                        </ul>
                    </li>
                    <li>о численности обучающихся, в том числе:
                        <ul>
                            <li><a href="/sveden/education#anchor_eduop">об общей численности обучающихся;</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о численности обучающихся за счет бюджетных
                                ассигнований федерального бюджета (в том числе с выделением численности обучающихся,
                                являющихся иностранными гражданами);</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о численности обучающихся за счет бюджетных
                                ассигнований бюджетов субъектов Российской Федерации (в том числе с выделением
                                численности обучающихся, являющихся иностранными гражданами);</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о численности обучающихся за счет бюджетных
                                ассигнований местных бюджетов (в том числе с выделением численности обучающихся,
                                являющихся иностранными гражданами);</a></li>
                            <li><a href="/sveden/education#anchor_eduop">о численности обучающихся по договорам об
                                образовании, заключаемых при приеме на обучение за счет средств физического и (или)
                                юридического лица (далее - договор об оказании платных образовательных услуг) (в том
                                числе с выделением численности обучающихся, являющихся иностранными гражданами).</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/sveden/education#anchor_eduop"><strong>Образовательные организации, реализующие
                        общеобразовательные программы, дополнительно указывают наименование образовательной
                        программы.</strong></a></li>
                    <li><strong>Образовательные организации, реализующие профессиональные образовательные программы,
                        дополнительно, для каждой образовательной программы указывают информацию:</strong>
                        <ul>
                            <li><a href="/sveden/education#anchor_eduaccred">об уровне образования;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">о коде и наименовании профессии,
                                специальности, направления подготовки, научной специальности;</a></li>
                            <li><a href="/sveden/education#anchor_eduaccred">о направлениях и результатах научной
                                (научно-исследовательской) деятельности и научно-исследовательской базе для ее
                                осуществления (для образовательных организаций высшего образования и образовательных
                                организаций дополнительного профессионального образования) (при осуществлении
                                научной (научно-исследовательской) деятельности);</a></li>
                            <li>о результатах приема по каждой профессии, по каждой специальности среднего
                                профессионального образования, по каждому направлению подготовки или специальности
                                высшего образования, научной специальности с различными условиями приема:
                                <ul>
                                    <li><a href="/sveden/education#anchor_priem">на места, финансируемые за счет
                                        бюджетных ассигнований федерального бюджета;</a></li>
                                    <li><a href="/sveden/education#anchor_priem">на места, финансируемые за счет
                                        бюджетных ассигнований бюджетов субъектов Российской Федерации;</a></li>
                                    <li><a href="/sveden/education#anchor_priem">на места, финансируемые за счет
                                        бюджетных ассигнований местных бюджетов;</a></li>
                                    <li><a href="/sveden/education#anchor_priem">по договорам об оказании платных
                                        образовательных услуг;</a></li>
                                </ul>
                            </li>
                            <li><a href="/sveden/education#anchor_priem">о средней сумме набранных баллов по всем
                                вступительным испытаниям (при наличии вступительных испытаний);</a></li>
                            <li><a href="/sveden/education#anchor_priem">о результатах перевода;</a></li>
                            <li><a href="/sveden/education#anchor_priem">о результатах восстановления и
                                отчисления;</a></li>
                        </ul>
                    </li>
                    <li><a href="/sveden/education#anchor_licenseDocLink">О лицензии на осуществление
                        образовательной деятельности (выписке из реестра лицензий на осуществление образовательной
                        деятельности).</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-122">Подраздел «Образовательные стандарты и требования»</a></h1>
                Информация:
                <ul>
                    <li><a href="/sveden/eduStandarts">о применяемых федеральных государственных образовательных
                        стандартах, федеральных государственных требованиях с приложением их копий или размещением
                        гиперссылки на действующие редакции соответствующих документов;</a></li>
                    <li><a href="/sveden/eduStandarts">об утвержденных образовательных стандартах, самостоятельно
                        устанавливаемых требованиях с приложением образовательных стандартов, самостоятельно
                        устанавливаемых требований в форме <strong>электронного документа</strong> или в виде
                        активных ссылок, непосредственный переход по которым позволяет получить доступ к
                        образовательному стандарту, самостоятельно устанавливаемым требованиям в форме <strong>электронного
                            документа</strong></a></li>
                </ul>
                <br><br>
                <h1><a href="/p-677.html">Подраздел «Руководство. Педагогический (научно-педагогический) состав»</a>
                </h1>
                Информация:
                <ul>
                    <li>о руководителе образовательной организации, в том числе:
                        <ul>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">фамилия, имя, отчество (при наличии
                                отчества);</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">должность руководителя;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">контактные телефоны;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">адрес электронной почты;</a></li>
                        </ul>
                    </li>
                    <li>о заместителях руководителя образовательной организации (при наличии заместителей), в том
                        числе:
                        <ul>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">фамилия, имя, отчество (при
                                наличии);</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">должность заместителя;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">контактные телефоны;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvo">адрес электронной почты;</a></li>
                        </ul>
                    </li>
                    <li>о руководителях филиалов, представительств образовательной организации (при наличии
                        филиалов, представительств), в том числе:
                        <ul>
                            <li><a href="/sveden/employees#anchor_rucovodstvoFil">фамилия, имя, отчество (при
                                наличии отчества);</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvoFil">должность руководителя;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvoFil">контактные телефоны;</a></li>
                            <li><a href="/sveden/employees#anchor_rucovodstvoFil">адрес электронной почты;</a></li>
                        </ul>
                    </li>
                    <li>о персональном составе педагогических работников каждой реализуемой образовательной
                        программы в форме <strong>электронного документа</strong> или в виде активных ссылок,
                        непосредственный переход по которым позволяет получить доступ к страницам официального
                        сайта, содержащим информацию, в том числе:
                        <ul>
                            <li><a href="/sveden/employees#anchor_teachingStaff">фамилия, имя, отчество (при
                                наличии) педагогического работника;</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">занимаемая должность
                                (должности);</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">преподаваемые учебные предметы,
                                курсы, дисциплины (модули);</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">уровень (уровни) профессионального
                                образования с указанием наименования направления подготовки и (или) специальности, в
                                том числе научной, и квалификации;</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">ученая степень (при наличии);</a>
                            </li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">ученое звание (при наличии);</a>
                            </li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">сведения о повышении квалификации
                                (за последние 3 года);</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">сведения о профессиональной
                                переподготовке (при наличии);</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">сведения о продолжительности опыта
                                (лет) работы в профессиональной сфере, соответствующей образовательной деятельности
                                по реализации учебных предметов, курсов, дисциплин (модулей);</a></li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">стаж работы по специальности;</a>
                            </li>
                            <li><a href="/sveden/employees#anchor_teachingStaff">наименование общеобразовательной
                                программы (общеобразовательных программ), код и наименование профессии,
                                специальности (специальностей), направления (направлений) подготовки или укрупненной
                                группы профессий, специальностей и направлений подготовки профессиональной
                                образовательной программы высшего образования по программам бакалавриата, программам
                                специалитета, программам магистратуры, программам ординатуры и программам
                                ассистентуры-стажировки, шифр и наименование области науки, группы научных
                                специальностей, научной специальности программы (программ) подготовки научных и
                                научно-педагогических кадров в аспирантуре (адъюнктуре), в реализации которых
                                участвует педагогический работник.</a></li>
                        </ul>
                    </li>
                </ul>
                <br><br>
                <h1><a href="/c-149">Подраздел «Материально-техническое обеспечение и оснащенность образовательного
                    процесса»</a></h1>
                Информация о материально-техническом обеспечении образовательной деятельности, в том числе сведения:
                <ul>
                    <li><a href="/sveden/objects#anchor_purposePrac">об оборудованных учебных кабинетах;</a></li>
                    <li><a href="/sveden/objects#anchor_purposePrac">об объектах для проведения практических
                        занятий;</a></li>
                    <li><a href="/sveden/objects#anchor_purposeLibr">о библиотеке(ах);</a></li>
                    <li><a href="/sveden/objects#anchor_purposeSport">об объектах спорта;</a></li>
                    <li><a href="/sveden/objects#anchor_purposeFacil">о средствах обучения и воспитания;</a></li>
                    <li><a href="/sveden/objects#anchor_meals">об условиях питания обучающихся;</a></li>
                    <li><a href="/sveden/objects#anchor_health">об условиях охраны здоровья обучающихся;</a></li>
                    <li><a href="/sveden/objects#anchor_purposeEios">о доступе к информационным системам и
                        информационно-телекоммуникационным сетям;</a></li>
                    <li>об электронных образовательных ресурсах, к которым обеспечивается доступ обучающихся, в том
                        числе:
                        <ul>
                            <li><a href="/sveden/objects#anchor_erList">о собственных электронных образовательных и
                                информационных ресурсах (при наличии);</a></li>
                            <li><a href="/sveden/objects#anchor_erList">о сторонних электронных образовательных и
                                информационных ресурсах (при наличии).</a></li>
                        </ul>
                    </li>
                </ul>
                <br><br>
                <h1><a href="/p-1124.html">Подраздел «Стипендии и меры поддержки обучающихся»</a></h1>
                Информация:
                <ul>
                    <li><a href="/sveden/grants">о наличии и условиях предоставления обучающимся стипендий;</a></li>
                    <li><a href="/sveden/grants#anchor_support">о мерах социальной поддержки;</a></li>
                    <li><a href="/sveden/grants#anchor_hostelInfo">о наличии общежития, интерната;</a></li>
                    <li><a href="/sveden/grants#anchor_hostelInfo">о количестве жилых помещений в общежитии,
                        интернате для иногородних обучающихся;</a></li>
                    <li><a href="/sveden/grants#anchor_localActObSt">о формировании платы за проживание в
                        общежитии;</a></li>
                    <li><a href="/sveden/grants#anchor_graduateJob">о трудоустройстве выпускников, с указанием
                        численности трудоустроенных выпускников от общей численности выпускников в прошедшем учебном
                        году, для каждой реализуемой образовательной программы, по которой состоялся выпуск.</a>
                    </li>
                </ul>
                <br><br>
                <h1><a href="/c-3">Подраздел «Платные образовательные услуги»</a></h1>
                Информация о порядке оказания платных образовательных услуг в виде <strong>электронных
                документов</strong>:
                <ul>
                    <li><a href="/sveden/paid_edu">о порядке оказания платных образовательных услуг, в том числе
                        образец договора об оказании платных образовательных услуг;</a></li>
                    <li><a href="/sveden/paid_edu#anchor_paidEduStoimDocLink">об утверждении стоимости обучения по
                        каждой образовательной программе;</a></li>
                    <li><a href="/sveden/paid_edu#anchor_paidParents">об установлении размера платы, взимаемой с
                        родителей (законных представителей) за присмотр и уход за детьми, осваивающими
                        образовательные программы дошкольного образования в организациях, осуществляющих
                        образовательную деятельность, за содержание детей в образовательной организации, реализующей
                        образовательные программы начального общего, основного общего или среднего общего
                        образования, если в такой образовательной организации созданы условия для проживания
                        обучающихся в интернате, либо за осуществление присмотра и ухода за детьми в группах
                        продленного дня в образовательной организации, реализующей образовательные программы
                        начального общего, основного общего или среднего общего образования.</a></li>
                </ul>
                <br><br>
                <h1><a href="/p-385.html">Подраздел «Финансово-хозяйственная деятельность»</a></h1>
                <ul>
                    <li>Информация об объеме образовательной деятельности, финансовое обеспечение которой
                        осуществляется:
                        <ul>
                            <li><a href="/sveden/budget#volume">за счет бюджетных ассигнований федерального
                                бюджета;</a></li>
                            <li><a href="/sveden/budget#volume">за счет бюджетов субъектов Российской Федерации;</a>
                            </li>
                            <li><a href="/sveden/budget#volume">за счет местных бюджетов;</a></li>
                            <li><a href="/sveden/budget#volume">по договорам об оказании платных образовательных
                                услуг.</a></li>
                        </ul>
                    </li>
                    <li><a href="/sveden/budget#finRec">информация о поступлении финансовых и материальных средств
                        по итогам финансового года;</a></li>
                    <li><a href="/sveden/budget#finRec">информация о расходовании финансовых и материальных средств
                        по итогам финансового года;</a></li>
                    <li><a href="/sveden/budget#anchor_finPlanDocLink">копии плана финансово-хозяйственной
                        деятельности образовательной организации, утвержденного в установленном законодательством
                        Российской Федерации порядке, или бюджетной сметы образовательной организации.</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-2">Подраздел «Вакантные места для приема (перевода) обучающихся»</a></h1>
                Информация:
                <ul>
                    <li>о количестве вакантных мест для приема (перевода) обучающихся по каждой реализуемой
                        образовательной программе, по каждой реализуемой специальности, по каждому реализуемому
                        направлению подготовки, по каждой научной специальности, по каждой реализуемой профессии, по
                        имеющимся в образовательной организации бюджетным или иным ассигнованиям, в том числе:
                        <ul>
                            <li><a href="/sveden/vacant">количество вакантных мест для приёма (перевода) за счёт
                                бюджетных ассигнований федерального бюджета;</a></li>
                            <li><a href="/sveden/vacant">количество вакантных мест для приёма (перевода) за счёт
                                бюджетных ассигнований бюджетов субъекта Российской Федерации;</a></li>
                            <li><a href="/sveden/vacant">количество вакантных мест для приёма (перевода) за счёт
                                бюджетных ассигнований местных бюджетов;</a></li>
                            <li><a href="/sveden/vacant">количество вакантных мест для приёма (перевода) за счёт
                                средств физических и (или) юридических лиц.</a></li>
                        </ul>
                    </li>
                </ul>
                <br><br>
                <h1><a href="/p-382.html">Доступная среда</a></h1>
                Информация о специальных условиях для обучения инвалидов и лиц с ограниченными возможностями
                здоровья, в том числе:
                <ul>
                    <li><a href="/sveden/ovz#anchor_purposePrac">о специально оборудованных учебных кабинетах;</a>
                    </li>
                    <li><a href="/sveden/ovz#anchor_purposePrac">об объектах для проведения практических занятий,
                        приспособленных для использования инвалидами и лицами с ограниченными возможностями
                        здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_purposeLibr">о библиотеке(ах), приспособленных для использования
                        инвалидами и лицами с ограниченными возможностями здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_purposeSport">об объектах спорта, приспособленных для
                        использования инвалидами и лицами с ограниченными возможностями здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_purposeFacil">о средствах обучения и воспитания, приспособленных
                        для использования инвалидами и лицами с ограниченными возможностями здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_ovz">об обеспечении беспрепятственного доступа в здания
                        образовательной организации</a></li>
                    <li><a href="/sveden/ovz#anchor_meals">о специальных условиях питания;</a></li>
                    <li><a href="/sveden/ovz#anchor_health">о специальных условиях охраны здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_comNetOvz">о доступе к информационным системам и
                        информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и
                        лицами с ограниченными возможностями здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_erList">об электронных образовательных ресурсах, к которым
                        обеспечивается доступ инвалидов и лиц с ограниченными возможностями здоровья;</a></li>
                    <li><a href="/sveden/ovz#anchor_techOvz">о наличии специальных технических средств обучения
                        коллективного и индивидуального пользования</a></li>
                    <li><a href="/sveden/ovz#anchor_hostelInfo">о наличии условий для беспрепятственного доступа в
                        общежитие, интернат;</a></li>
                    <li><a href="/sveden/ovz#anchor_hostelInfo">о количестве жилых помещений в общежитии, интернате,
                        приспособленных для использования инвалидами и лицами с ограниченными возможностями
                        здоровья.</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-828">Подраздел «Международное сотрудничество»</a></h1>
                Информация:
                <ul>
                    <li><a href="/sveden/inter">о заключенных и планируемых к заключению договорах с иностранными и
                        (или) международными организациями по вопросам образования и науки (при наличии);</a></li>
                    <li><a href="/sveden/inter#anchor_internationalAccr">о международной аккредитации
                        образовательных программ (при наличии).</a></li>
                </ul>
                <br><br>
                <h1><a href="/c-17">Подраздел «Организация питания в образовательной организации»</a></h1>
                Информация:
                <ul>
                    <li><a href="/c-17">Меню ежедневного горячего питания;</a></li>
                    <li><a href="/c-17">Информация о наличии диетического меню в образовательной организации;</a>
                    </li>
                    <li><a href="/c-17">Перечень юридических лиц и индивидуальных предпринимателей, поставляющих
                        (реализующих) пищевые продукты и продовольственное сырье в общеобразовательные
                        организации;</a></li>
                    <li><a href="/c-17">Перечень юридических лиц и индивидуальных предпринимателей, оказывающих
                        услуги по организации питания в общеобразовательной организациях;</a></li>
                    <li><a href="/c-17">Формы обратной связи для родителей обучающихся и ответы на вопросы родителей
                        по питанию.</a></li>
                </ul>
            </div>
        </article>
    </main>
{% endblock %}