{% extends 'base/base.html' %}

{% block content %}
<h1>Заголовок</h1>
    <p>Текст</p>
{#    <div id="page-content">#}
{#        {% for page in pages %}#}
{#            <div class="files" id="page-{{ page.id }}">#}
{#                <h1>{{ page.title }}</h1>#}
{#                <div>{{ page.content|safe }}</div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#<a>123</a>#}
    {#    <h1>Проверка page item list</h1>#}
    {#    {% for page_item in pages_item_list %}#}
    {#        <h2>{{ page_item.title }}</h2>#}
    {#    {% endfor %}#}

    {#    <h1>Проверка page</h1>#}
    {#    {% for page_item in unlinked_page_items %}#}
    {#        {{ page_item.value }}#}
    {#    {% endfor %}#}

{% endblock %}
