{% extends 'base/base.html' %}

{% block content %}
    <h1>Сведения об образовательной организации</h1>
    <b>Структура официального сайта образовательной организации в информационно-телекоммуникационной сети «Интернет», а
        также формат представления образовательной организацией информации, обязательной к размещению на Сайте
        определяются в соответствии с:</b>
    <p><a class="link-opacity-25-hover" href="https://db-nica.ru/documents/postanovlenie_1802.pdf">Статьёй 29
        Федерального закона “Об образовании в Российской Федерации” от <strong>29.12.2012 № 273-ФЗ</strong></a></p>
    <p><a class="link-opacity-25-hover" href="https://db-nica.ru/documents/postanovlenie_1802.pdf">Постановлением
        Правительства Российской Федерации от <strong>20.10.2021 № 1802</strong> "Об утверждении Правил размещения на официальном сайте
        образовательной организации в информационно-телекоммуникационной сети "Интернет" и обновления информации об
        образовательной организации, а также о признании утратившими силу некоторых актов и отдельных положений
        некоторых актов Правительства Российской Федерации"</a></p>
    <p><a class="link-opacity-25-hover" href="https://db-nica.ru/documents/postanovlenie_1802.pdf">Приказом Федеральной службы по
        надзору в сфере образования и науки от <strong>14.08.2020 № 831</strong> "Об утверждении Требований к структуре
        официального
        сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления
        информации</a></p>
{% endblock %}
