  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>НФ УУНиТ</span>
          </a>
{#          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>#}
          <div class="social-links d-flex mt-4">
            <a href="https://vk.com/nfuunit" class="vk"><i class="fa fa-vk"></i></a>
            <a href="https://cabinet.nfuunit.ru" class="lk"><i class="bi bi-chat-left-text"></i></a>
            <a href="https://t.me/nfuunit" class="telegram"><i class="bi bi-telegram"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Полезные ссылки</h4>
          <ul>
            <li><a href="https://epb.uust.ru/">Правовая база</a></li>
            <li><a href="https://uust.ru/">Головной университет</a></li>
          </ul>
        </div>

{#        <div class="col-lg-2 col-6 footer-links">#}
{#          <h4>Our Services</h4>#}
{#          <ul>#}
{#            <li><a href="#">Web Design</a></li>#}
{#            <li><a href="#">Web Development</a></li>#}
{#            <li><a href="#">Product Management</a></li>#}
{#            <li><a href="#">Marketing</a></li>#}
{#            <li><a href="#">Graphic Design</a></li>#}
{#          </ul>#}
{#        </div>#}

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Контакты</h4>
          <p>
            улица Трактовая, 1<br>
            город Нефтекамск, 452681<br>
            РФ <br><br>
            <strong>Телефон:</strong> 8 (34783) 2-35-80<br>
            <strong>Почта:</strong> nfuunit@nfuunit.ru<br>
          </p>

        </div>

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->