<nav class="navbar navbar-expand-lg navbar-light bg-light w-25">
    <a class="navbar-brand" href="{% url 'main' %}">Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Сведения об образовательной организации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'education' %}">Образование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'science' %}">Наука</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'library' %}">Информационно-библиотечная обеспеченность</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'entrant' %}">Абитуриенту</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'students' %}">Студенту</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Дополнительное образование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://epb.uust.ru/">Правовая база</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'history' %}">История филиала</a>
        </li>
    </ul>
</nav>