<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static 'image/uust.svg' %}" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/university/">Университет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applicants/">Абитуриентам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/students/">Студентам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/science/">Наука</a>
                </li>
            </ul>
        </div>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </nav>
</div>

